@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark.scss';

.app {
  font-size: 40px;
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100dvh;
}

.global-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 15px;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
