@import url("./reset.scss");
@import url("./variables/globals.scss");
@import url("./themes/base.scss");
@import url("./themes/dark.scss");

.app {
  font: var(--font-m);
  color: var(--text-color);
  background-color: var(--canvas);
  height: 100vh;
}

.app-container {
  max-width: var(--container-width);
  padding: var(--container-padding-x);
  margin: 0 auto;
}

.app-wrapper {
  display: flex;
  gap: 20px;
  margin-top: var(--app-wrapper-margin-top);
  margin-bottom: var(--app-wrapper-margin-bottom);
}
