.app {
  --canvas: #deeeff;
  --bg-color: #f8f9fa; /* Светло-серый фон */
  --inverted-bg-color: #1a1a2e;
  --primary-color: #4a6fa5; /* Приглушенный синий (акценты) */
  --secondary-color: #e9c46a; /* Теплый желтый (второстепенные элементы) */
  --text-color: #2b2d42; /* Темно-синий почти черный (текст) */
  --accent-color: #d62828; /* Ярко-красный (активные элементы) */
}
