.app.dark {
  --canvas: #1a2a3a;
  --bg-color: #1a1a2e; /* Темно-синий фон */
  --inverted-bg-color: #f8f9fa;
  --primary-color: #6a4c93; /* Фиолетовый (акценты) */
  --secondary-color: #f77f00; /* Оранжевый (второстепенные элементы) */
  --text-color: #e6e6e6; /* Светло-серый (текст) */
  --accent-color: #4cc9f0; /* Голубой (активные элементы) */
}
