.header {
  background-color: var(--inverted-bg-color);
  min-height: var(--navbar-height); 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

.linksWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
