.header {
  background-color: var(--inverted-bg-color);
  min-height: var(--navbar-height);
  padding: 10px 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
