.header {
  background: var(--inverted-bg-color);
  padding: var(--container-padding-x);
  border-radius: 0 0 12px 12px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: var(--header-height);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
